.search-form .btn {
    margin: -2px 0 0 2px;
}
.btn {
    margin-right: 2px;
}

/* 遮罩层 */
.basic-shield {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display: none;
}

.baisc-log-window {
    width: 200px;
    height: 200px;
    margin: auto;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

/* 回到页面顶部滑块 */
#scrollUp {
    bottom: 80px;
    background-color: #777;
    color: #eee;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    right: 50px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: 0.8;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #007bff !important;
    border-color: #0062cc !important;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    border-color: #ccc !important;
}
.select2-container--default .selection .select2-selection--single {
    height: 34px;
    padding-left: 8px;
}

.select2-container--bootstrap .select2-selection--single {
    height: 34px !important;
    line-height: 1.428571429 !important;
    padding: 6px 24px 6px 12px !important;
}

.select2-container--bootstrap .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    background-color: #fff;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    outline: 0;
}

.select2-container--bootstrap .select2-selection__rendered {
    padding-left: 0 !important;
    margin: 0 !important;
}

.select2-container--bootstrap .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-results__options li:hover {
    background: #ccc
}
