<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gousade.mapper.RoleMapper">
<!-- 	查询角色列表 -->
	<select id="queryrolelist" parameterType="map" resultType="map">
		
		select role_id,role_name,state,
		 DATE_FORMAT(created, '%Y-%m-%d %H:%i:%S') created,
		DATE_FORMAT(updated, '%Y-%m-%d %H:%i:%S') updated,
		remark
		from 
		role
	</select>
<!-- 	新增角色 -->
	<insert id="insertrole" parameterType="map" >
	
	insert into role (role_id,state,role_name,remark,created)
	values (#{role_id},#{state},#{role_name},#{remark},NOW())
	
	</insert>	

<!-- 	修改用户信息 -->
	  <update id="updaterole" parameterType="map">

    update role 
    set role_id=#{role_id},
    role_name=#{role_name},
    remark=#{remark},
    state=#{state},
    updated=NOW()
    where role_id=#{role_id}
  </update> 
  
   <!-- 	删除角色信息 -->
	  <update id="delroles" parameterType="map">
   
    update role 
    set state='0'
    
    where role_id in
     <foreach collection="roleids" item="roleid" open="(" separator="," close=")">
    	#{roleid}
    </foreach>
  </update>
  <!-- 	查询菜单列表 -->
	<select id="querymenulist" parameterType="map" resultType="map">
		
		select id,name,state,
		 DATE_FORMAT(created, '%Y-%m-%d %H:%i:%S') created,
		DATE_FORMAT(updated, '%Y-%m-%d %H:%i:%S') updated,
		url,type,pid
		from 
		menu
		
	</select>
  
  <!-- 	修改菜单信息 -->
	  <update id="updatemenu" parameterType="map">

    update menu 
    set id=#{id},
    name=#{name},
    state=#{state},
    url=#{url},
    type=#{type},
    pid=#{pid},
    updated=NOW()
    where id=#{id}
  </update> 
  
   <!-- 	删除菜单信息 -->
	  <update id="delmenus" parameterType="map">
   
    update menu 
    set state="0"
    
    where id in
     <foreach collection="menuids" item="menuid" open="(" separator="," close=")">
    	#{menuid}
    </foreach>
  </update>
</mapper>